/* Styling for the quiz page container */
.quiz-page {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
  }
 
  .quiz-page h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }

  .quiz-page ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
  }
  
  .quiz-page li {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px; 
    margin: 10px auto; 
  }
  
  .quiz-page strong {
    font-size: 1.2rem;
    color: #06000b;
    word-wrap: break-word;
  }
  
  .quiz-page p {
    font-size: 1rem;
    color: #fcf8f8;
    margin: 10px 0;
    word-wrap: break-word;
  }
  
  .quiz-page button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quiz-page button:hover {
    opacity: 0.8;
  }
  
  .quiz-page button:focus {
    outline: none;
  }
  
  .quiz-page button:nth-of-type(1) {
    background-color: #4CAF50;
    color: white;
  }
  
  .quiz-page button:nth-of-type(2) {
    background-color: #f44336; 
    color: white;
  }
  
  .quiz-page button:nth-of-type(3) {
    background-color: #008CBA; 
    color: white;
  }
  
  .quiz-page button:last-of-type {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1rem;
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  .quiz-page button:last-of-type:hover {
    background-color: #45a049;
  }
  .quiz-page .description {
    color: #06000b;
  }
  